<!doctype html>
<html lang="en">
<head>
    <!--
        Zachary Lindgren
        4/21/19
        form1.html
        The first sign-up form page for the Pokemon Dating website
    -->

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pokemon Dating: Sign-Up</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

</head>
<body>

<!-- The navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/it328/dating"><h4>Luvdisc Dating</h4></a>
</nav>

<!-- The main page -->
    <div class="rounded card m-3">
        <div class="card-body">
            <form method="post" action="#">
                <h1 class="border-bottom">Personal Information</h1>

                <div class="float-left d-block">
                    <div class="form-group">
                        <label>
                            <strong>Name</strong> <span class="text-danger">*</span>
                            <span class="input-group">
                                <input type="text" class="form-control border-right-0" name="name" value="{{@name}}">
                                <span class="input-group-append">
                                    <i class="input-group-text bg-white text-black-50 fas fa-address-card"></i>
                                </span>
                            </span>
                        </label>
                        <check if="{{ @errors['name'] }}">
                            <span class="text-danger">{{ @errors['name'] }}</span>
                        </check>
                    </div>

                    <div class="form-group">
                        <label>
                            <strong>Species</strong>
                            <input type="text" class="form-control" name="species" value="{{@species}}">
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            <strong>Age</strong> <span class="text-danger">*</span>
                            <input type="text" class="form-control" name="age" value="{{@age}}">
                        </label>
                        <check if="{{ @errors['age'] }}">
                            <span class="text-danger">{{ @errors['age'] }}</span>
                        </check>
                    </div>

                    <div class="form-group">
                        <strong>Gender</strong><br>
                        <repeat group="{{@genders}}" value="{{@currentGender}}">
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio"
                                           name="gender" value="{{@currentGender}}"
                                           <check if="{{ @currentGender == @gender }}">
                                               checked="checked"
                                           </check>>
                                    {{ @currentGender }}
                                </label>
                            </div>
                        </repeat>
                    </div>

                    <div class="form-group">
                        <label>
                            <strong>PokeNav Number</strong> <span class="text-danger">*</span>
                            <input type="tel" class="form-control" name="number" value="{{@number}}">
                        </label>
                        <check if="{{ @errors['number'] }}">
                            <span class="text-danger">{{ @errors['number'] }}</span>
                        </check>
                    </div>
                </div>

                <div class="d-block">
                    <div class="float-right form-group text-center bg-light rounded border col-2">
                        <strong>Note:</strong> All information entered is protected
                        by our <a href="#">Privacy Policy</a>. Profile information
                        can only be viewed by others with your permission.
                    </div>

                    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                    <div class="form-group float-right">
                        <input type="submit" class="btn btn-primary" value="Next >">
                    </div>
                </div>
            </form>
        </div>
    </div>


<!-- JavaScript for the Bootstrap 4 -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>