<!doctype html>
<html lang="en">
<head>
    <!--
        Zachary Lindgren
        4/14/19
        home.html
        The home page for the Pokemon Dating website
    -->

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pokemon Dating: Home</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><h4>Luvdisc Dating</h4></a>
    </nav>

    <div class="rounded card-group m-3">
        <div class="card">
            <div class="card-body">
                <h1 class="text-center">Luvdisc Dating</h1><br>

                <p>Welcome to the web's most successful Water-type dating site. At <strong>Luvdisc Dating</strong>
                    you'll meet many other like-minded Pokemon. We have the highest success rate of couples on the web.
                    User's are matched by location and egg group. Find out how so many others have found love on our
                    site!</p>

                <h4 class="text-center">Hear what our users are saying about us.</h4>

                <div class="container border-top border-bottom font-italic">
                    <p>"I met the love of my life after only a month!" - Poliwag</p>
                    <p>"It is so easy to set up a profile and start meeting Pokemon. I didn't realize how many
                        others were looking for love in my area." - Wooper</p>
                    <p>"Just try it! You'll never be the same!" - Shellos</p>
                </div>
                <br>
                <button type="button" class="btn btn-primary d-block mx-auto">Create a Profile!</button>
            </div>
        </div>

        <div class="card">
            <img src="images/luvdiscdating.jpg" class="rounded card-body float-right" alt="Luvdisc">
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>
</html>